@keyframes animateHeader {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 0;
		transform: scale(1);
	}
}

.header {
	animation: animateHeader;
	animation-duration: 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;

	display: flex;
	flex-direction: column;

	opacity: 0;
	transform: scale(0);
}
