/* Variables */
:root {
	--bg-color: hsl(0, 0%, 7%);
	--font-accent-color: hsl(0, 0%, 80%);
	--font-color: hsl(0, 0%, 96%);
	--font-dark-color: hsl(42, 22%, 32%);
	--font-darker-color: hsl(42, 10%, 10%);
	--primary-color: hsl(39, 81%, 59%);
	--primary-dark-color: hsl(42, 93%, 37%);
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	overflow-x: hidden;
}

main {
	height: 100%;
	max-width: 1366px;
	margin: auto;
	padding: 2rem;
}

.error-container {
	align-items: center;
	display: flex;
	font-weight: 700;
	font-family: var(--inconsolata);
	flex-direction: column;
	gap: 2rem;
	height: 100%;
	justify-content: center;
	margin: auto;
	width: 50%;
}

a {
	text-decoration: none;
}
