@keyframes fadeInWithZoom {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.header-container {
	display: flex;
	flex-direction: column;
}

.with-animation {
	animation: fadeInWithZoom;
	opacity: 0;
	transform: scale(0);
}

.header-title {
	animation-duration: 1s;
	animation-delay: 2.2s;
	animation-fill-mode: forwards;

	display: flex;
	flex-direction: column;
	text-align: center;
	text-transform: uppercase;
}

.first-line {
	color: var(--primary-color);
	font-family: var(--cinzel);
	font-size: 1.2rem;
	letter-spacing: 0.5rem;
	text-align: center;
	text-transform: uppercase;
}

.second-line {
	font-family: var(--got-regular);
	margin-top: 2rem;
	font-size: 2.2rem;
	letter-spacing: 1rem;
}

@media screen and (min-width: 1000px) {
	.first-line {
		font-size: 2.5rem;
	}
	.second-line {
		font-size: 3.8rem;
	}
	.find-out {
		font-size: 1.5rem;
	}
}
