@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translate3d(-50%, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInRight {
	from {
		opacity: 0;
		transform: translate3d(50%, 0, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.question {
	margin-top: 3rem;
	color: var(--primary-dark-color);
	font-size: 1rem;
	font-weight: 500;
	font-family: var(--cinzel);
	text-transform: uppercase;
	letter-spacing: 2px;
}

.answer {
	min-height: 64px;
	margin-top: 3rem;
	font-family: var(--inconsolata);
	font-weight: 500;
	font-size: 14px;
	color: var(--font-accent-color);
}

.question-enter {
	animation: slideInRight;
	animation-duration: 500ms;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.answer-enter {
	animation: slideInLeft;
	animation-duration: 500ms;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@media screen and (min-width: 1000px) {
	.container {
		max-width: 66%;
	}

	.question {
		font-size: 1.5rem;
		line-height: 2;
	}

	.answer {
		font-size: 1.2rem;
		min-height: 132px;
	}
}
