.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	inset: 0;
	overflow: scroll;
}

@media screen and (min-width: 1000px) {
	.modal {
		border-radius: 1rem;
		max-width: 832px;
		max-height: 80%;
		margin: auto;
		overflow: auto;
	}
}

.background {
	background-blend-mode: multiply;
	background-image: url("../../../../../../public/images/parchment.webp");
	background-size: cover;
	display: block;
	position: relative;
}
