@keyframes tada {
	from {
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.75, 0.75, 0.75) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
		opacity: 1;
	}
}

.modal {
	position: fixed;
	inset: 0;
	overflow: scroll;
	animation-name: tada;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	height: 100%;
	opacity: 0;
}

@media screen and (min-width: 1000px) {
	.modal {
		border-radius: 1rem;
		max-width: 832px;
		max-height: 80%;
		margin: auto;
		overflow: scroll;
	}
}

.close {
	color: var(--font-darker-color);
	font-family: var(--cinzel);
	font-size: 2.5rem;
	font-weight: 700;
	height: 2rem;
	position: absolute;
	right: 1.5rem;
	width: 1rem;
	z-index: 1;
}

.close:hover {
	color: var(--font-dark-color);
}
