@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.75, 0.75, 0.75) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	inset: 0;
	overflow: scroll;
	animation-name: tada;
	animation-duration: 0.75s;
}

@media screen and (min-width: 1000px) {
	.modal {
		border-radius: 1rem;
		max-width: 832px;
		max-height: 80%;
		margin: auto;
		overflow: auto;
	}
}

.background {
	background-image: url("../../../../../../public/images/parchment.webp");
	background-size: cover;
	display: block;
	position: relative;
}
