.character {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	position: relative;
}

.character button {
	margin: 4rem auto 2rem auto;
	padding: 1rem 4rem;
	font-family: var(--inconsolata);
	font-weight: 700;
	letter-spacing: 3px;
	color: var(--font-darker-color);
	transition: all 200ms ease-in-out;
}

.character button:active {
	color: var(--font-darker-color);
}

.character button:hover {
	background-color: var(--primary-dark-color);
}

.background {
	width: 100%;
	min-height: 100%;
	position: absolute;
	inset: 0;
	object-fit: cover;
}

.header {
	width: 100%;
	margin-bottom: 1rem;
	position: relative;
}

.name {
	color: var(--font-darker-color);
	font-family: var(--got-regular);
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: 0.5rem;
	line-height: 2;
	text-align: center;
	position: relative;
}

.picture {
	margin: 2rem auto;
	position: relative;
}

.image {
	width: auto;
	border-radius: 0.5rem;
	box-shadow: 1px 2px 3rem 8px var(--primary-color);
	height: auto;
	width: 260px;
	margin: auto;
	opacity: 0.75;
	margin: auto;
	position: relative;
}

.caption {
	color: var(--font-darker-color);
	font-family: var(--cinzel);
	font-size: 14px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: 1px;
	margin: auto;
	max-width: 300px;
	padding-top: 1rem;
	text-align: center;
	position: relative;
}

.bio {
	color: var(--font-dark-color);
	font-family: var(--inconsolata);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	white-space: pre-wrap;
	position: relative;
}

.dixit {
	border-left: 5px solid var(--primary-dark-color);
	color: var(--font-dark-color);
	margin: 1rem auto;
	quotes: "\201C""\201D""\2018""\2019";
	text-align: center;
	width: 100%;
	padding: 0 0.5rem;
	position: relative;
}

.dixit p {
	line-height: 2.5;
	font-weight: 600;
	white-space: pre-wrap;
	font-family: var(--cinzel);
	font-size: 1.2rem;
	position: relative;
}

.dixit p:before {
	content: open-quote;
	font-size: 4rem;
	line-height: 0.1rem;
	vertical-align: -1.5rem;
	position: relative;
	left: -4px;
}

.dixit p:after {
	content: close-quote;
	font-size: 4rem;
	line-height: 0.1rem;
	vertical-align: -1.5rem;
	position: relative;
	right: -1rem;
}

.footer {
	width: 100%;
	text-align: center;
	position: relative;
}

@media screen and (min-width: 1000px) {
	.profile-container {
		width: 40%;
		display: flex;
		flex-wrap: wrap;
	}

	.bio {
		padding-left: 2rem;
		width: 60%;
		margin: 1.5rem auto;
	}

	.name {
		font-size: 2rem;
	}

	.character {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.dixit {
		width: 75%;
	}
}
